# Data Analysis and preprocessing :

## Importing the Libraries

In [25]:
import pandas as pd
import numpy as np

## Reading the News.csv file and extracting basic info

In [26]:
df = pd.read_csv('./data/News.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44898 non-null  int64
 1   title       44898 non-null  object
 2   text        44898 non-null  object
 3   subject     44898 non-null  object
 4   date        44898 non-null  object
 5   label       44898 non-null  int64
dtypes: int64(2), object(4)
memory usage: 2.1+ MB

In [28]:
df.head()

,Unnamed: 0,title,text,subject,date,label
0,27245,Bill Maher: Trump’s Orlando Massacre Response...,Donald Trump s response to the horrific massac...,News,"June 18, 2016",0
1,34731,THE YOUNG GIRL THE CLINTONS DESTROYED…Monica L...,"In 1998, I lost my reputation and my dignity....",politics,"Aug 8, 2016",0
2,21392,"Iran, Saudi Arabia to exchange diplomatic visi...",BEIRUT (Reuters) - Iran and Saudi Arabia will ...,worldnews,"August 23, 2017",1
3,25385,Trump Just Got Dealt A STINGING Blow From His...,"The New York Observer, which Ivanka Trump s hu...",News,"November 2, 2016",0
4,30289,Governor Of Texas Unveils Detailed Plan To OV...,There s something stirring in the Deep South t...,News,"January 8, 2016",0

## Dealing with null values

In [29]:
df.isnull().sum()

Unnamed: 0    0
title         0
text          0
subject       0
date          0
label         0
dtype: int64

## Dropping the columns Unnamed:0 and date which are not required for the model building

In [30]:
df = df.drop(columns=['Unnamed: 0', 'date'], axis=1)

In [31]:
df.head()

,title,text,subject,label
0,Bill Maher: Trump’s Orlando Massacre Response...,Donald Trump s response to the horrific massac...,News,0
1,THE YOUNG GIRL THE CLINTONS DESTROYED…Monica L...,"In 1998, I lost my reputation and my dignity....",politics,0
2,"Iran, Saudi Arabia to exchange diplomatic visi...",BEIRUT (Reuters) - Iran and Saudi Arabia will ...,worldnews,1
3,Trump Just Got Dealt A STINGING Blow From His...,"The New York Observer, which Ivanka Trump s hu...",News,0
4,Governor Of Texas Unveils Detailed Plan To OV...,There s something stirring in the Deep South t...,News,0

## Creating the content column

In [32]:
df['content'] = df['title'] + df['text'] + df['subject']

In [33]:
df['content']

0         Bill Maher: Trump’s Orlando Massacre Response...
1        THE YOUNG GIRL THE CLINTONS DESTROYED…Monica L...
2        Iran, Saudi Arabia to exchange diplomatic visi...
3         Trump Just Got Dealt A STINGING Blow From His...
4         Governor Of Texas Unveils Detailed Plan To OV...
                               ...
44893    TRUMP DRIVES CRITICS CRAZY: Eliminates Obama’s...
44894    France overseas minister says two killed in Fr...
44895    House Republicans pursue short-term government...
44896     White Nationalist Radio: Trump Gave Us A Pres...
44897    MEDIA IMMEDIATELY REPORTS Alleged Killer Of Im...
Name: content, Length: 44898, dtype: object

## Creating and seperating the important processed data for model building

In [34]:
processed_data = df.drop(columns=['title', 'text', 'subject'], axis = 1)

In [35]:
processed_data.to_csv('./data/Processed.csv')