# Data Preparation

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import random

## Reading the csv files and checking basic info

In [2]:
true = pd.read_csv('./data/True.csv')
fake = pd.read_csv('./data/Fake.csv')

In [3]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [4]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

## Creating Labels for true and fake news

In [5]:
true['label'] = 1
fake['label'] = 0

In [6]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

## Concatenating both the dataframes to one

In [8]:
news_df = pd.concat([true, fake], ignore_index=True)

In [9]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

## Shuffling the data

In [10]:
news_df = news_df.sample(frac=1, random_state=random.seed())

In [11]:
news_df.head()

,title,text,subject,date,label
27245,Bill Maher: Trump’s Orlando Massacre Response...,Donald Trump s response to the horrific massac...,News,"June 18, 2016",0
34731,THE YOUNG GIRL THE CLINTONS DESTROYED…Monica L...,"In 1998, I lost my reputation and my dignity....",politics,"Aug 8, 2016",0
21392,"Iran, Saudi Arabia to exchange diplomatic visi...",BEIRUT (Reuters) - Iran and Saudi Arabia will ...,worldnews,"August 23, 2017",1
25385,Trump Just Got Dealt A STINGING Blow From His...,"The New York Observer, which Ivanka Trump s hu...",News,"November 2, 2016",0
30289,Governor Of Texas Unveils Detailed Plan To OV...,There s something stirring in the Deep South t...,News,"January 8, 2016",0

## Exporting the dataframe to csv

In [12]:
news_df.to_csv('./data/News.csv')